Compatible Loading Indicator/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Compatible Loading Indicator/.swiftpm/xcode/xcshareddata/xcschemes/Compatible Loading Indicator.xcscheme
.swiftpm/xcode/xcuserdata/nasir.xcuserdatad/xcschemes/xcschememanagement.plist
.swiftpm/xcode/package.xcworkspace/xcuserdata/nasir.xcuserdatad/UserInterfaceState.xcuserstate
*.xcworkspacedata
