Compatible Loading Indicator/.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Compatible Loading Indicator/.swiftpm/xcode/xcshareddata/xcschemes/Compatible Loading Indicator.xcscheme
